@import "~bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-xs {
  padding: 0.4rem 0.6rem;
  font-size: 0.6rem;
  line-height: 1.2;
  border-radius: 0.25rem;
}
.social-icons-menu a {
  margin-right: 16px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover {
    color: #2163e8;
  }
}